<% @userall.each do |user| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%=  user[:username] %></h5>
    <h6 href= "/"class="card-subtitle mb-2 text-muted"><%=  user[:email] %></h6>
    <a href="/" class="card-link"><%=  user[:bio] %></a>
  </div>
  <% end %>
